:root {
    --menu-background: #444f45;
    --menu-item-background: #4a9459;
    --menu-item-hover: #4fff72;
}

h1 ,h2 ,h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 10px;
    color : white;
}

.main-title {
    font-weight: 800;
    font-size: 3em!important;
    transform: rotateX(35deg) skewX(-4deg);
    -webkit-transition: -webkit-transform .1s ease-out; /* only WebKit because of performance */
    text-shadow: #222 0 0 15px,
    #222 0 6px 5px, #333 0 12px 3px,  #444 0 15px 3px,
    rgba(0,0,0,0.2) 0 14px 5px, rgba(0,0,0,0.1) 0 20px 10px,
    rgba(0,0,100,0.2) 0 15px 80px;
    text-indent: 0.3em;
    margin-bottom: 0;
}

.menu-main-div > * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.menu-main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 30%;
    margin: 10% auto;
}

.menu-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
    background-color: var(--menu-background);
}

.menu-main-div ul {
    margin: 0;
    padding: 0;
    width: 90%;
}

.menu-main-div li {
    text-align: center;
    list-style-type: none;
    margin: 12px 0;
    height: 40px;
    line-height: 40px;
    background-color: var(--menu-item-background);
    transition: background-color 0.25s ease-in-out;
    text-decoration: none;
    color: #444f45;
    font-size: 1rem;
    font-weight: 700;
}

.menu-main-div li:hover {
    background-color: var(--menu-item-hover);
}

.menu-main-div li:active {
    background-color: white;
}

@media only screen and (max-width: 780px) {
    .menu-main-div {
        width: 80%;
        margin: 25% auto;
    }
    .menu-main-div li {
        height: 80px;
        font-size: 1.3em;
        line-height: 80px;
    }
    .main-title {
        font-size: 4em!important;
        text-align: center;
    }
}