.question-card {
    display: flex;
    flex-direction: column;
    background-color: #444f45;
    padding: 10px;
    border-radius: 10px;
    width: 35%;
    margin: 5% auto;
}

.back-button{
    position: absolute;
    top : 5px;
    left: 5px;
    z-index: 10;
    background-color: white;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    line-height: 30px;
    color : black;
}

.question-card h5 {
    text-align: center;
}

.question-card > * {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.container {
    margin: 0;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 100px 100px;
    grid-gap: 1%;
    margin-bottom: 1%;
    width: 100%
}

.question-button{
    color: #444f45;
    font-weight: bold;
    background-color: #4a9459;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    line-height: 20px;
}

.question-button:hover{
    background-color: #4fff72;
}

.question-button:active{
    background-color: white;
}

.quiz-score {
    text-align: center;
    font-size: 2rem;
    text-shadow: #222222 2px 2px 2px;
}

.error-div{
    background-color: #e54646;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
    border: none;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 100%;
        grid-template-rows: 100px 100px 100px 100px;
        grid-gap: 4%;
    }
    .question-card {
        width: 85%;
        height: 72vh;
        margin-top: 18%;
    }
    .question-card h5 {
        font-size: 1.5rem;
    }
    .question-button {
        font-size: 1.5rem;
    }
    .quiz-score {
        font-size: 1.5rem;
    }

    .quiz-score {
        font-size: 2rem;
        position: absolute;
        top: 0;
        left: 35%;
    }
}