canvas {
    display: flex;
    margin: auto;
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
    z-index: 2;
}

#score{
    display: block;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
    color: #000;
}

#score-bar{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px;
    color: #000;
    text-align: center;
}

#start-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 20px;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    cursor: pointer;
}

#start-btn {
    font-size: 50px;
}

#start-box h2 {
    margin-bottom: 25px;
    color : darkgreen;
}

#start-box p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    #start-box {
        font-size: 20px;
        width: 90%;
    }
    #start-btn {
        font-size: 40px;
    }
}